#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.navbarLogo {
    height: 3rem;
}

.loginWrapper {
    display: flex;
    gap: 2rem;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 10px;
}

.loginFormCt,
.loginBtnsCt,
.guestFormCt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease;
}

